body {
  background-color: #f9f9f9;
}

.material-icons {
  float: right;
}

.material-icons:hover {
  cursor: pointer;
}

.newTask {
  border: none;
  outline: none;
}

.to-do-list-wrap {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 30%;
  margin: 40px auto;
  padding: 0;
}

li {
  list-style-type: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
  padding: 10px 0;
}

.can-swap label {
  outline: none;
}

.checked {
  text-decoration: line-through;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  background: none;
  border: none;
  height: 40px;
}

button:hover {
  text-decoration: underline;
}

.edit-btn {
  margin-left: 70%;
}
